@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: auto;
  width: 50vw;
}

header {
  padding: 10px;
  background-color: rgba(58, 108, 189, 0.9);
  color: white;
}

h1 {
  margin: 0;
}

small {
  color: #dddddd;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  font-size: 12px !important;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  font-size: 11px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

form {
  margin: 20px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: rgba(58, 108, 189, 0.9);
}

label {
  margin: 10px;

  color: white;
}

input {
  padding: 10px;
}

@media (max-width: 1920px) {
  .container {
    width: 100vw;
  }
}
